*.pyc
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/processed/bm25_index.pkl

*.log
.env/
.pytest_cache/
src/evaluation/reports/*.json
!src/evaluation/reports/.gitkeep
.env
venv/
__pycache__/